<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VSHARE-Share files easily</title>
    <link rel= "stylesheet" href="/css/style.css"
</head>
<body>
    <section class="download">
        <img class="download_icon" src="/img/download_icon.jpg" alt="DOWNLOAD ICON">

        <%if(locals.error){%>
            <h3><%=locals.error%></h3>
        <%}else{%>
            <h2>Your file is ready to download</h2>
            <div class="filedata">
                <h4><%= fileName %></h4>
                <small><%= (fileSize/1000) %> KB</small>
            </div>
            <div class="send-btn">
                <a href="<%= downloadlink %>">Download file</a>
            </div>        
        <% } %>    
    </section>
</body>
</html>